.projects{
    width: 100%;
    margin-top: 4%;
    padding: 3%;

    background-color: red;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    position: relative;
}

.projects .title{
    text-align: flex-start;
    width: 100%;
}


.projects .card1,
.projects .card2,
.projects .card3,
.projects .card4,
.projects .card5 {
    width: 80%;
    background-color: blue;
}

.projects .card1{
    display: flex;
    flex-direction: row;
}