.services {
    margin-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .title{
        margin-left: 5%;
        width: 90%;
        text-align: end;
    }

    gap: 30px;
 
    color: var(--text);

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        width: 55%;
        height: 230px;
        background-color: var(--bgCard);
        border-radius: 8px;
        padding: 20px;

        .title2 {
            margin-bottom: 15px;
            width: 30%;
            background-color: var(--bgDark);
            text-align: start;
            font-size: 1.6rem;
        }

        .desc1 {
            text-align: center;
            font-size: 1.2rem;
            width: 60%;

        }

        .products {
            display: flex;
            justify-content: space-between;
            width: 70%;
            padding: 5px;

            .name,
            .value {
                text-align: center;
                font-size: 1.2rem;
            }

            .value {
                width: 20%;
            }
        }
    }

    .Computadores {
        align-items: flex-start;
    }

    .Celulares {
        width: 80%;
        height: 260px;
        margin-left: 8%;

        .title2 {
            text-align: center;
        }

        .products {
            width: 50%;
        }
    }


    .WebSites {
        margin-left: 40%;
        align-items: flex-end;

        .title2 {
            text-align: end;
            padding-right: 2%;
            margin-left: 67%;
        }
    }
}